{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jasmine": true
  },
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "newline-per-chained-call": "off",
    "no-plusplus": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "arrow-parens": ["error", "as-needed"],
  }
}
