{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jasmine": true
  },
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "newline-per-chained-call": 0
  }
}
